/* Dark Theme */
body {
    margin: 0;
    overflow: hidden;
    background-color: #0F1035;
    font-family: 'Arial', sans-serif;
}
*{
    transition: background-color 0.3s ease;

}
header {
    padding: 20px;
    text-align: center;
    background-color: #365486;
    position: relative;
}

h1 {
    color: #DCF2F1;
    margin: 0;
}

canvas {
    display: block;
    background-color: transparent;
    border: none;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #365486, #7FC7D9);
}

.widgets {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button {
    background-color: #0F1035;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

button:hover {
    background-color: #060722;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

#message-box {
    background-color: #FFF;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    display: none;
}


/* Light Theme */
body.light-theme {
    background-color: #F9EFDB;
    color: #333;
}
body.light-theme *{
    color: #333; 
}

body.light-theme button {
    background-color: #c1d3be; 
    color: #333; 
    border: none;
}
body.light-theme button#toggle-theme:hover {
    background-color: #a9c5a5; 
}

header.light-theme {
    background-color: #EBD9B4;
}

canvas.light-theme {
    background: linear-gradient(45deg, #9DBC98, #EBD9B4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
